.out,
.in {
  display: none;
  width: 100px;
  height: 30px;
  background-color: aqua;
  text-align: center;
  padding-top: 15px;
}
.container {
  width: 100px;
  margin: 5px 0px;
}


.list {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 220px;
  gap: 10px;
}

.my-card {
  width: 200px;
  height: 30px;
  background-color: aqua;
  text-align: center;
  padding-top: 15px;
}
.wrapper.in{
  width: 100px;
}
.container.visible .in,
.wrapper.visible .in {
  display: block;
}
.container.visible .out,
.wrapper.visible .out {
  display: none;
}

.container.visible.is-flipped .in,
.wrapper.visible.is-flipped .in {
  display: none;
}

.container.visible.is-flipped .out,
.wrapper.visible.is-flipped .out {
  display: block;
}
