.slider {
  position: relative;
  width: 400px;
  height: 250px;
  margin: auto;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: inset 0 0 5px rgb(#d2e6f7);
  cursor: pointer;
}
.slider.noCard {
  height: auto;
  text-align: center;
}
.slider__slides {
  display: flex;
  transition: transform 0.7s ease-in-out;
  height: 100%;
  position: relative; /* чтобы не перекрывать кнопки */
  z-index: 1;
}

.slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #d2e6f7;
  color: #fff;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 10; /* <<< главное! кнопки выше карточек */
}

.slider__btn--prev {
  left: 10px;
}
.slider__btn--next {
  right: 10px;
}


.flashcard {
  perspective: 1000px;
  position: relative;
  width: 400px;
  height: 250px;
  flex: 0 0 auto;
}

.flashcard__inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d; /* <- важно для 3D */
  transition: transform 0.6s ease-in-out; /* тут задаём плавность */
}

.flashcard__side--front,
.flashcard__side--back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.flashcard__side--back {
  background-color: #F0F0F0;
}
.flashcard__side--front {
  background-color: #fff;
}
.flashcard__side--back {
  transform: rotateY(180deg);
}

/* при перевороте крутится весь .flashcard__inner */
.flashcard.flipped .flashcard__inner {
  transform: rotateY(180deg);
}
