[contenteditable][data-placeholder]:empty:before {
  content: attr(data-placeholder);
  color: #aaa;
  pointer-events: none;
}

body {
  background-color: #f6f7fb;
}

header {
  background-color: #d2e6f7;
  height: 60px;
  margin-bottom: 50px;
}
.header__nav {
  height: 60px;
}
.container__inner {
  background-color: #d2e6f7;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
}
.header__link {
  color: #000;
}
.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  height: 100%;
}
ul li {
  color: #000;
}
ul li:hover {
  cursor: pointer;
  color: rgb(46, 46, 240);
}
.container {
  width: 600px;
}
.page__container {
  width: 700px;
}
main {
  display: flex;
  justify-content: center;
  height: 90vh;
}
.deck__name.color {
  background-color: #d1d1d1b0;
}
.deck__name,
.card__word,
.card__translation {
  box-sizing: content-box;
  position: relative;

  background-color: #fff;
  height: 40px;

  margin-bottom: 20px;
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 20px;
}
.card__word,
.card__translation {
  background-color: #f6f7fb;
}

.card {
  padding: 0 10px;
  background-color: #fff;
  width: 100%;
  height: 240px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.card__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.deck__create-button,
.button.button--create,
.deck-page__edit-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 120px;
  padding: 10px 20px;
  border: 2px solid #b2cef8;
  border-radius: 15px;
  background-color: #f3f5f8;
  cursor: pointer;
}
.button.button--create {
  width: fit-content;
  margin: 0 auto;
}
.deck__add-card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 45px;
  background-color: #f3f5f8;
  cursor: pointer;
  font-size: 20px;
  font-weight: 800;
  color: #1605ad;
}
.deck__create-button {
  width: fit-content;
}
.deck__create-button:hover,
.deck__add-card-button:hover,
.deck-page__edit-btn:hover {
  background-color: #edeff4;
}

.deck-page__edit-btn {
  width: 300px;
  margin: 0 auto;
  margin-top: 40px;
}
.deck__controls {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.container__actions {
  display: flex;
  justify-content: flex-end;
}

.card__delete,
.decks__delete {
  border-radius: 50px;
  border: 1px solid #ecdbdb;
}

.card__delete img,
.decks__delete img {
  cursor: pointer;
  width: 30px;
}

.card__delete:hover,
.decks__delete:hover {
  background-color: #f3f5f8;
}

.page__title {
  text-align: center;
  margin-bottom: 80px;
}

.decks__item {
  display: grid;
  grid-template-columns: 300px 340px 30px; 
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 16px;
  padding: 20px;
}
.relative {
  position: relative;
}
.card__error,
.card__error--translation,
.deck__error {
  display: none;
  margin-top: -20px;
  color: #ff0000ff;
}

.card__error.visible,
.card__error--translation.visible,
.deck__error.visible {
  display: block;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #bbbbbb;
}
@media only screen and (max-width: 700px) {
  .container {
    width: 100%;
  }
  .decks__item {
    grid-template-columns: 200px auto 30px;
    font-size: 12px;
  }
}
